name: Build Windows Exe

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Install WiX Toolset
      run: dotnet tool install --global wix

    - name: Grant execute permission for gradlew
      run: git update-index --chmod=+x gradlew

    - name: Build with Gradle (JPackage)
      run: ./gradlew jpackage
      
    - name: Upload Installer
      uses: actions/upload-artifact@v4
      with:
        name: Sparrow-Windows-Installer
        path: build/jpackage/
